---
interface Props {
    authorName : string,
    authorDesignation : string,
    authorImage : string,
}

const { authorName, authorDesignation, authorImage} = Astro.props;
---

<div class="flex items-center">
    <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-white dark:border-gray-800">
        <img src={
            authorImage.includes("http") ? authorImage : `/CodeMastery/assets/author-imgs/${authorImage}`} 
            alt={authorName}
            class="w-full h-full object-cover">
    </div>
    <div class="ml-3">
        <p class="font-medium">{authorName}</p>
        <p class="text-sm text-gray-500 dark:text-gray-400">{authorDesignation}</p>
    </div>
</div>