---
import { SEO } from 'astro-seo';

interface Props {
    pageTitle ?: string
    description : string,
    seoImagePath : string,
    pageType ?: string
}

const {pageTitle = "", pageType = "website", description, seoImagePath} = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
    <link rel="shortcut icon" href="/CodeMastery/favicon.svg" type="image/x-icon">
    <!-- ... other meta tags ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: pageTitle,
          type: pageType,
          image: seoImagePath,
        }
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/CodeMastery/assets/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: seoImagePath,
          },
          { name: "twitter:title", content: pageTitle },
          { name: "twitter:description", content: description },
        ],
      }}
    />

    <slot />

</head>